<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guoxw.geekproject">

    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精准定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 改变wifi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2103009f4400fc922ed0e45e5ac99f6f" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ntG5LLARGs7x14O45o9bdRCcaEHGmWlT" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gankio.ui.activity.BeautyActivity" />
        <activity android:name=".gankio.ui.activity.GankDayInfoActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".base.BaseWebActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".gankio.ui.activity.WebVideoActivity" />
        <activity android:name=".MapTestActivity" />
        <activity android:name=".jniui.JniCallbackActivity"></activity>
    </application>

</manifest>